<div class="header text-center">
  <div id="banner" class="jumbotron">
  <h1 id="banner-text">Inspiration By Tag</h1>
  </div>
</div>

<div class="heading mb-5">
  <div class="row justify-content-center">
    <div class="col-m mx-2">
      <button id="home" type="button" class="btn btn-primary">Return To Home</button>
    </div>
  </div>
</div>

{{#each quotes}}
  <div data-id={{this._id}} class="card justify-content-center p-0 mx-5 mb-2 quote-section">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{this.body}}</p>
        <footer class="blockquote-footer">{{this.author}}</footer>
        <footer class="tag-btn">
        {{#each this.tags}}
            <button type="button" class="btn btn-light mt-3 tag-btn" data-name="{{this}}">{{this}}</button>
        {{/each}}
        </footer>
      </blockquote>
      <form class="comment-section mt-3">
        <div>
          Author Name: <br>
          <input type="text" maxlength="50" class="comment-author" placeholder="Name"/>
        </div>
        <div class="mt-2">
          Comment: <br>
          <textarea class="comment-text" rows="3" cols="50" maxlength="150" placeholder="Leave a Comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-1 mb-3">Leave a Comment</button>
      </form>
      {{#each this.comments}}
        <div class="card mt-2">
          <div class="card-header bg-light">
            <span class="font-weight-bold">{{this.author}}</span> said...
          </div>
          <div class="card-body">
            <p class="ml-2">"{{this.body}}"</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{else}}
    <div class="text-center">OOPS! Looks like there aren't any quotes by this Tag, Return Home and Try Again</div>
{{/each}}

<script src="/assets/js/search.js"></script>